name: ci

on: [push]

jobs:
  test:
    name: Test
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [22.x, 24.x]
        deno-version: [1.40.x]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Use Deno Version ${{ matrix.deno-version }}
        uses: denolib/setup-deno@master
        with:
          deno-version: ${{ matrix.deno-version }}
      - name: npm install
        run: npm ci
        env:
          CI: true
      - name: prepare
        run: npm run prepare
        env:
          CI: true
      - name: vitest
        run: npm run test
        env:
          CI: true
